.book-filter {
    /* background-color: var(--clr2bg); */
    padding-inline: 1em;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border: 1px solid white;
border-radius: 35px;
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .5em;
}
